[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
SpeechRecognition = "*"
twilio = "*"
python-dotenv = "*"
pyyaml = "*"
gpio = "*"
picamera = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3"
