[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
SpeechRecognition = "*"
winspeech = "*"
pipwin = "*"
twilio = "*"
python-dotenv = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3"
